@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper {
  width: 660px;
  margin: auto;
}

#ifiwereyouiwouldjustloveme tr {
  height: 40px;
}

#ifthisisrealloveillneverdoitagain table {
  height: 180px;
}

#ifthisisrealloveillneverdoitagain td:first-child {
  width: 25%;
}

.종류 {
  font-weight: 700;
  max-width: 100px;
}

.bar {
  border: 1px solid gray;
}

.bar:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

body {
  background-color: #cbdde5;
}

h1 {
  padding: 15px;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  background-color: #f2efed;
  table-layout: fixed;
}

th {
  font-weight: 500;
}

td {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 80px;
}

td:not(:last-child) {
  border-right: 1px solid gray;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
}
